.Tag{
  width: 25%;
  background-color:gainsboro;
  position: relative;
  border: 1em black;
  margin: 1px;
  padding: 10px;
}

#root{
  margin-left:5% ;
  margin-right: 5%;
  text-align: center;
}

.Comment1{
  background-color:gainsboro;
  position: relative;
  border: 1em black;
  margin: 1px;
  margin-bottom: 15px;
  padding: 2%;
}

p{
  font-size: 1.2em;
  margin: 0;
}

iframe{
  margin-top: 20px;
  text-align: center;
  border:0;
}

#timer{
  font-size: 3em;
}

#countdown{
  padding: 2%;
  background-color: royalblue;
}

.message{
  font-size: 2em;
}

.Header{
  background-color: #27323d;
  height: 100%;
  border-radius: 2%;
}

.Header > h1{
  margin: 0;
  padding:5%;
  text-align: center;
  font: 5em sans-serif;
  color: rgb(238, 236, 236);
}

#form > h1{
  font-size: 3em;
}

#form >input{
  font-size: 3em;
  width: 30%;
}

#comment{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap ;
  padding: 5%;
  padding-top: 0;
}

#tag{
  display: flex;
  justify-content: left;
  width: 100%;
  flex-wrap:wrap ;
  padding: 5%;
  padding-top:0 ;
}

#right, #left{
  width: 50%;
}

#left{
  background-color: #2d3d4de5;
}

#right{
  background-color: #23313fe5;
}

h1{
  text-align: center;
  color: white;
}

#frame{
  display: flex;
  width: 100%;

}

textarea{
  height: 200px;
  width: 60%;
  font-size: 4em;
}

#sample{
  width: 100%;
  background-color: #445261;
  padding-bottom: 2%;
}

.inner{
  text-align: center;
  width: 100%;
}

#options {
  margin: 5%;
  font-size: 5em;
  background-color: rgb(19, 23, 53);
  color: rgb(255, 255, 255);
  padding: 5px;
}

.button1{
  font: 2em sans-serif;
  padding: 10px;
  width: 150px;
  text-align: center;
  margin: 10px;
}

